.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 1000;
  /* visibility: hidden; */
  /* transform : scale(1.1);
  transition: visibility 0s liner 0.25s, opacity 0.25 0s, trasform 0.25 */
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  height: auto;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  min-width: 320px;
  max-width: 400px;
  height: 500px;
  overflow-y: auto;
  border-radius: 10px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.modal-content::-webkit-scrollbar {
  display: none;
}

.close-btn {
  border: 1px solid blue;
  /* background-color: blue; */
  border-radius: 0;
  color: black;
  border: none;
  position: fixed;
  width: 40px;
  top: 0px;
  right: 5px;
  cursor: pointer;
  padding: 5px;
  font-size: 20px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
