@mixin box-shadow-all {
  border: lighten($primary-color, 40%) 1px solid;
  box-shadow: 0px 1px 5px -1px lighten($black, 20%);
}

@mixin box-shadow-bottom {
  box-shadow: 0px 2px 2px -2px lighten($black, 20%);
}
