@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Telex&display=swap');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Telex', sans-serif;
font-family: 'Frijole', cursive;
*/

/* 1.Header */
/*		1.1 Header Banner */
/*		1.2 Header Logo and nav row */
/*			1.2.i Logo*/
/*			1.2.ii Navigation */
/* 2.Main*/
/* 3.Footer*/
* {
	box-sizing: border-box;
	padding: 0 0;
	margin: 0 0;
	list-style-type: none;
	text-decoration: none;
}

html,
body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size: 14px;
}
body {
	background: linear-gradient(rgb(253, 103, 103), rgb(250, 227, 16));
	background: linear-gradient(rgba(255, 45, 45, 0.418), rgba(250, 227, 16, 0.651));
}

h1 {
	font-size: 2em;
	text-align: center;
}

/*		1.1 Header Banner */
.header-banner {
	background-color: yellow;
	text-align: center;
	padding: 20px 10px;
	font-weight: 200;
	font-family: 'Telex', sans-serif;
}
/*		1.2 Header Logo and nav row */
#logo > a {
	text-align: center;
	padding: 10px;
	display: block;
	margin-left: 10px;
	color: rgba(128, 5, 5, 9);
	font-weight: 300;
	font-size: 30px;
	font-family: 'Frijole', cursive;
}

.header-row {
	width: 100%;
	background-color: goldenrod;
}

.header-row-ele1 {
	display: none;
}

.header-row-ele2 {
	width: 100%;
}

nav ul {
	width: 100%;
	margin: 0 auto;
	padding: 5px;
	background-color: goldenrod;
}

nav ul li {
	float: left;
	width: 100%;
}

nav ul li a {
	padding: 10px;
	font-size: 20px;
	display: block;
	color: white;
	text-align: center;
}

.clearfix {
	content: ".";
	display: table;
	clear: both;
}

/* 2. main body part*/
.row-1_col-1 {
	position: relative;
	width: 100%;
}

.row-1_col-1_img {
	width: 100%;
}
.row-1_col-1_img img {
	width: 100%;
	height: auto;
}

.row-1_col-1_text {
	position: absolute;
	width: 60%;
	top: 18%;
	left: 5%;
	text-align: left;
	color: black;
}
.row-1_col-1_text h1 {
	padding: 5px;
	text-align: left;
}
.row-1_col-1_text p {
	font-size: 1.5em;
	padding: 5px;
}

.know-about,
.benefit {
	text-align: left;
	padding: 10px;
}
.know-about h1 {
	padding: 20px;
}

.benefit-container {
	padding: 20px;
	width: 100%;
}

.div-float-four,
.div-float-three,
.div-float-two {
	float: left;
	width: 100%;
	padding: 10px 0;
}

.img-container img {
	width: 100%;
	height: 300px;
}
/* 3.Footer*/
.footer-container {
	width: 100%;
	background-color: coral;
	padding: 5px;
	font-size: 12px;
}
footer > p {
	font-size: 1.5 em;
}
.footer-f1 {
	float: left;
	width: 50%;
	margin-left: 20px;
	font-weight: normal;
}
.footer-f2 {
	float: right;
	width: 40%;
}

.footer-f2 ul li {
	float: right;
	padding: 5px;
}

/* Media Queries*/
@media (min-width: 600px) {
	body {
		font-size: 16px;
	}
	.header-row-ele1 {
		display: block;
		float: left;
		width: 30%;
	}

	.header-row-ele2 {
		width: 70%;
		float: right;
	}

	nav ul li {
		width: 20%;
	}

	nav li a:hover {
		text-decoration: underline;
		color: white;
		text-decoration-color: white;
	}

	.row-1_col-1_text {
		width: 40%;
	}

	.row-1_col-1_text h1 {
		font-size: 2.5em;
	}
	.row-1_col-1_text p {
		font-size: 1.5em;
	}

	.cards-padding {
		padding: 10px;
	}

	.div-float-four {
		width: 50%;
	}

	.div-float-three {
		width: 33.33%;
	}

	.benefit {
		text-align: center;
		width: 80%;
		margin: 0 auto;
	}

	.div-float-two {
		width: 50%;
	}
}

@media (min-width: 992px) {
	body {
		font-size: 16px;
	}
	.header-row-ele1 {
		display: block;
		float: left;
		width: 25%;
	}

	.header-row-ele2 {
		width: 75%;
		float: right;
		margin: 0 auto;
	}

	nav ul li {
		width: 20%;
	}

	nav li a:hover {
		text-decoration: underline;
		color: white;
		text-decoration-color: white;
	}

	.row-1_col-1_text {
		width: 40%;
	}
	.row-1_col-1_text h1 {
		font-size: 3em;
	}
	.row-1_col-1_text p {
		font-size: 2em;
	}
	.row-1_col-1_img img {
		max-height: 700px;
	}
	.cards-padding {
		padding: 10px;
	}

	.div-float-four {
		width: 25%;
	}

	.div-float-three {
		width: 33.33%;
	}

	.benefit {
		text-align: center;
		width: 60%;
		margin: 0 auto;
	}
	.div-float-two {
		float: left;
		width: 50%;
	}
}
