aside {
  position: fixed;
  padding-top: 20px;
  z-index: 200;
}

.ctg-title {
  padding: 10px;
}

.btn_container {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}

.sticky-top {
  /* background-color: yellow; */
  padding: 10px;
  border: 1px solid blue;
  background-color: rgba(255, 246, 230, 0.632);
  /* margin-top: 20px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.ctg_contntainer {
  flex: 1;
  margin: 5px auto;
}

main {
  /* border: 1px solid blue;
  background-color: blue; */
  padding: 0px 0px;
}
