/* #3385c6 • #4279a3 • #476c8a • #49657b • #7f8e9e */
/* #bfd6f6 • #8dbdff • #64a1f4 • #4a91f2 • #3b7dd8*/

$primary-blue: #4a91f2;

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

$mobile: 768px;
$tablet: 920px;
$laptop: 1200px;
$lg-screen: 1400px;
