@font-face {
	font-family: 'Graphik';
	src: url(../fonts/Graphik-Regular.ttf);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
}

body,
html {
	background-color: #181818;
	color: #ffffff;
	font-family: 'Graphik', 'Nunito Sans', Helvetica, sans-serif;
	letter-spacing: 0.2px;
}

h1,
h2,
p {
	text-align: center;
}

img {
	width: 100%;
	vertical-align: middle;
	text-align: center;
}

.container {
	width: 100%;
	margin: 0 auto;
	padding: 50px 16px;
	/* background-color: red; */
}

.left {
	float: left;
}

.right {
	float: right;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.btn-primary {
	border: 1px solid #ffffff;
	background-color: black;
	color: #ffffff;
	border-radius: 0;
	box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
	padding: 10px 15px;
	text-align: center;
	transition: 0.5s;
	font-size: 12px;
	line-height: 13.2px;
}

.btn--blue {
	border: 1px solid #4452fe;
	background-color: #4452fe;
}

.btn-primary:hover {
	background-color: #ffffff;
	color: #181818;
}

.btn--blue:hover {
	background-color: #acb3fd;
	color: black;
}

/* Header */
.logo {
	width: 25%;
}
.header-wrap {
	padding-top: 20px;
	padding-bottom: 20px;
}

.nav-container {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #322020;
	opacity: 95%;
	padding: 20px 0;
	width: 100%;
	z-index: 1;
}

nav ul {
	float: none;
	width: 100%;
}

nav ul li {
	text-align: center;
	margin: 30px 0;
}

nav ul li a {
	color: #ffffff;
	display: inline-block;
	font-size: 20px;
}
nav ul li:hover {
	padding: 20px 0;
	background-color: rgb(228, 114, 114);
}

.hamburger:hover + .nav-container,
.nav-container:hover {
	display: block;
}

/*login btn*/

.btn--login {
	display: none;
}

.hamburger {
	display: block;
	padding: 10px 0;
	margin: auto 0;
	transition: ease-in;
}

.hamburger div {
	width: 25px;
	height: 3px;
	margin: 5px 0;
	background-color: #ffffff;
}

/* Intro */
.banner-img {
	min-height: 55vh;
	background-image: url(../img/banner.png), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0e0e0e 66.15%);
	background-position: bottom 30px center, bottom -40px center;
	background-repeat: no-repeat, no-repeat;
	background-size: contain;
}

/* .intro-wrapper,
.features-wrapper,
.content-container,
.contents-wrapper {
	padding: 50px 0;
} */

.headline {
	width: 100%;
	text-align: center;
	line-height: 110%;
}

.sub-headline {
	width: 54.87%;
	margin: 0 auto;
	line-height: 150%;
	text-align: center;
}

h1.headline {
	font-size: 32px;
}

p.sub-headline {
	font-size: 14px;
	padding: 14px 0 40px;
}

.intro-btn-wrapper {
	width: 100%;
	text-align: center;
}

div.intro-btn-wrapper button {
	display: inline;
}

button.intro-btn-1 {
	margin-right: 15px;
}

/** features **/
h2.headline {
	font-size: 24px;
	line-height: 28.5px;
}

p.ft-sub-head {
	padding-top: 11px;
	padding-bottom: 38px;
}

.features-content-wrapper,
.ft-content-left,
.ft-content-left img {
	width: 100%;
	float: none;
}

.ft-content-right {
	float: none;
	width: 60%;
	margin: 0 auto;
}

.ft-card {
	margin-top: 45px;
	padding: 5px;
}

span.ft-head-title {
	display: block;
	font-size: 16px;
	line-height: 24px;
	margin-left: 10px;
}

p.ft-card-bottom {
	margin-top: 21px;
	text-align: left;
}

/** Contents section **/
.contents-content-container {
	width: 80%;
	margin: 0 auto;
}

.card-white {
	background-color: #ffffff;
	border: 1px solid #d3d3d3;
	box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	color: black;
	padding: 20px;
	width: 100%;
}

div:first-child.card-white {
	margin-bottom: 30px;
}

h3.headline {
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
}

p.card-wh-p {
	font-size: 12px;
	width: 70%;
}

p#card-1-headline {
	padding: 20px 0 30px;
}

p#card-2-subheadline {
	padding: 15px 0 10px;
}

button.card-wh-btn {
	display: block;
	margin: 0 auto;
}

div.content-img {
	margin: 20px;
}

/* Partners */
.partners-logo-container {
	width: 100%;
	margin: 0 auto;
}

.partners-logo {
	float: left;
	width: 33%;
	text-align: center;
	margin-top: 20px;
}

.partners-logo img {
	width: unset;
}
#ibm-logo img {
	width: 50%;
}

.partners-btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

/* Testimonials */
.testimonial-headline {
	margin-bottom: 60px;
}
.testimonial-container {
	width: 80%;
	margin: 0 auto 30px;
}
.testimonial-left,
.testimonial-right {
	width: 100%;
}

.profile-container {
	border: 1px solid #dedede;
	border-radius: 10px;
	padding: 40px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 150%;
}

.profile {
	margin-bottom: 20px;
}
div.profile span,
div.profile-img {
	display: inline-block;
}
div.profile-img {
	margin-right: 20px;
}
div.profile span {
	vertical-align: middle;
}
div.profile-img a img {
	width: unset;
}

/*Footer*/

.footer-up-left,
.footer-down-right {
	width: 100%;
	padding: 20px;
}
span.up-arrow {
	display: none;
}

.dropdown-btn {
	position: relative;
	font-size: 20px;
	padding: 20px 0;
	/* background-color: red; */
	border-bottom: 1px solid rgb(71, 19, 19);
}

.dropdown-content {
	display: none;
}

.dropdown-btn:hover + .dropdown-content {
	display: block;
}

footer ul li a {
	font-size: 16px;
	color: white;
}

footer div.footer-up-left ul li {
	padding: 20px 0 20px 10px;
}

/*footer-down-rigt*/
div.address {
	margin: 10px 0;
	padding: 10px 0;
}
div.address div {
	margin-bottom: 10px;
}

footer img {
	width: unset;
}

span.contact {
	display: inline-block;
	margin-left: 10px;
	font-size: 12px;
}
div.footer-down-right ul {
	margin-top: 20px;
}
ul.social-media li {
	vertical-align: middle;
	float: left;
	padding: 10px 20px;
}
ul.social-media li:first-child {
	padding-left: 0px;
}

@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}

	.banner-img {
		min-height: 80vh;
	}

	h1.headline {
		font-size: 60px;
	}

	#intro-subheadline {
		padding-bottom: 75px;
	}

	p.sub-headline {
		font-size: 18px;
		padding-top: 37px;
		padding-bottom: 60px;
	}

	.btn-primary {
		font-size: 17px;
		line-height: 25px;
		padding: 15px 25px;
	}

	/** features **/
	h2.headline {
		font-size: 38px;
		line-height: 45.22px;
	}

	span.ft-head-title {
		font-size: 20px;
		line-height: 30px;
	}

	p.ft-card-bottom {
		font-size: 16px;
		line-height: 24px;
	}

	.features-content-wrapper {
		width: 93%;
		margin: 0 auto;
	}

	.ft-content-right {
		width: 90%;
		padding: 20px 10px;
	}

	.ft-card {
		margin: 45px 0 0;
		float: left;
		width: 48%;
	}

	.card-1 {
		margin-right: 20px;
	}

	h3.headline {
		font-size: 28px;
	}

	p.card-wh-p {
		font-size: 16px;
	}

	/* contents */
	.card-white {
		width: 48%;
	}

	/* partners */
	.partners-logo-container {
		width: 90%;
	}

	.partners-logo {
		width: 16%;
	}

	#ibm-logo img {
		width: unset;
	}

	/* testimonials */
	.testimonial-left,
	.testimonial-right {
		width: 49%;
	}

	.profile-container {
		font-size: 16px;
	}

	/* Footer */
	.down-arrow,
	.up-arrow {
		display: none;
	}

	.footer-up-left,
	.footer-down-right {
		width: 100%;
		padding: 20px 0;
	}

	/* .footer-up-left {
		
	} */
	.dropdown {
		float: left;
		width: 30%;
		margin-left: 15px;
	}
	.dropdown:first-child {
		margin-left: 0px;
	}
	.dropdown-btn {
		border: none;
	}

	.dropdown-content {
		display: block;
		padding: 10px 0;
	}

	footer div.footer-up-left ul li {
		padding: 10px 0;
	}

	/*footer-down-rigt*/
	div.address {
		float: left;
		width: 70%;
	}
	ul.social-media {
		float: right;
		width: 30%;
	}
	span.contact {
		font-size: 14px;
	}

	div.footer-down-right ul {
		margin-top: 20px;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		max-width: 1097px;
		padding: 100px 0px 60px;
	}
	.header-wrap {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.intro-wrapper {
		padding: 60px 0;
	}

	.hamburger,
	.login-link {
		display: none;
	}

	.btn--login {
		display: block;
		padding: 5px 30px;
		margin: 15px 0 10px;
	}

	.nav-container {
		position: unset;
		background-color: unset;
		display: block;
		padding: 10px 0;
		opacity: 100%;
		width: 65%;
	}

	nav ul li {
		float: left;
		padding: 5px;
		margin: unset;
		margin-right: 50px;
	}

	nav ul {
		margin: 15px 0 10px;
		width: unset;
	}

	nav ul li:nth-last-child(2) {
		margin-right: 0px;
	}

	nav ul li a,
	.btn--login {
		font-size: 17px;
		line-height: 25px;
		letter-spacing: 0.2px;
	}
	nav ul li:hover {
		padding: unset;
		background-color: unset;
	}

	/** Intro section **/
	.banner-img {
		min-height: 100vh;
	}

	.intro-wrapper {
		padding: 95px 0 10px;
	}

	h1.headline {
		font-size: 80px;
		line-height: 88px;
	}

	p.sub-headline {
		font-size: 20px;
		line-height: 30px;
	}

	#intro-subheadline {
		padding-bottom: 95px;
	}

	/** features **/
	h2.headline {
		font-size: 52px;
		line-height: 62.5px;
	}

	.ft-content-left {
		float: left;
		width: 69%;
	}

	.ft-content-right {
		margin-top: 50px;
		padding: 10px;
		float: right;
		width: 30%;
	}

	.ft-card {
		float: none;
		width: 100%;
		margin: 45px 0 0;
	}

	span.ft-head-title {
		display: block;
		font-size: 20px;
		line-height: 30px;
	}

	/*contents */
	.partners-logo-container {
		width: 80%;
	}

	/* footer */
	.footer-up-left {
		float: left;
		width: 60%;
	}
	.footer-down-right {
		float: right;
		width: 30%;
	}

	div.address,
	ul.social-media {
		float: none;
		width: 100%;
		margin: 10px 0;
	}
}
