/* 
banner-heading, logo;
font-family: Product Sans;
body:
font-family: Roboto;
 */
/* 
color:
 banner: background: linear-gradient(90deg, #FFFCEB 0%, #EAFFFE 100%);
 ms-photo-background: 
 background: linear-gradient(92.22deg, rgba(132, 238, 235, 0.35) 1.83%, rgba(204, 209, 255, 0.35) 98.3%);   
border-radius: 4px;
Footer: background: #FDFFF9;
 */

/* letter-spacing 
*/
