@font-face {
	font-family: 'Product sans regular';
	src: url('fonts/product-sans/Product\ Sans\ Regular.ttf');
}

/**	
		Navigate:
		1.Header
		2.Navigation Bar
		3.Hambergur Menu
		4.Banner
		5.Message to ED
		6.Upcomming Trainings
		7.Footer
		8.Miscellaneous
			a.Floats and clearfix
**/

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

h1,
.logo {
	font-family: 'Product sans regular', 'Work sans', sans-serif;
}

.container {
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

/* 1.Header */
header {
	margin: 20px 0px;
}

/* .logo {
	float: left;
	font-weight: bold;
	font-size: 26px;
	line-height: 32px;
	text-align: left;
	background: -webkit-linear-gradient(#3ae4df, #7280fc);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: slateblue;
} */

/* 2.Navigatio bar */
nav {
	display: none;
}

nav ul {
	padding: 10px 0px;
}
nav ul li {
	float: left;
}
nav ul li a {
	display: block;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	color: black;
	margin-right: 30px;
}

.login-btn {
	background: linear-gradient(90deg, #3ae4df 0%, #7a88ff 104.29%);
	border-radius: 5px;
	border-color: #7a88ff;
	color: white;
	border: none;
	padding: 14px 25px;
}

/* 3.Hamberger menu */
.hamburger {
	display: block;
}
.hamburger div {
	width: 25px;
	height: 5px;
	margin: 5px;
	background-color: black;
}

/* 4.Banner */
.banner {
	background: linear-gradient(90deg, #fffceb 0%, #eafffe 100%);
	background-size: cover;
	width: 100%;
	padding: 60px 0;
	margin: 0;
}

.banner-text {
	width: 100%;
	padding: 10px;
	/* background-color: red; */
	margin: 30px 0px;
}

.banner-img {
	width: 100%;
}

.banner-img img {
	width: 100%;
}

h1.banner-heading {
	font-size: 40px;
	line-height: 49px;
}

p.text-info {
	font-size: 14px;
	line-height: 140.62%;
	margin: 25px 0 60px;
}

.btn {
	background: #798bfe;
	border-radius: 5px;
	border: 1px solid #798bfe;
	text-decoration: none;
	color: white;
}
.btn-enroll {
	font-size: 14px;
	padding: 16px 36px;
}

/* 5.Message from ED */
.msg-head-desktop {
	display: none;
}
h2 {
	font-size: 26px;
	line-height: 36px;
}
h2.msg-head-mobile {
	display: block;
	margin: 50px 0px 40px;
}

p.msg-content-head {
	font-size: 14px;
	line-height: 140.62%;
	margin: 26px 0 12px 0;
}

p.msg-content-bottom {
	font-size: 12px;
	line-height: 140.62%;
	margin-bottom: 20px;
	color: rgba(0, 0, 0, 0.5);
}

.msg-content a {
	display: block;
	margin-bottom: 50px;
}

.img-ED {
	width: 100%;
}

.img-ED img {
	width: 100%;
}

/* 6.Upcomming trainings */
.training {
	padding-top: 22px;
	padding-bottom: 40;
	/* default 20px right and left padding in .container*/
}

.training-container {
	padding: 20px 0px;
}

.training-container,
.taining-img {
	width: 100%;
}

.training-title {
	font-size: 16px;
	line-height: 28px;
	margin: 20px 0 16px;
}
.training-text {
	font-size: 12px;
	line-height: 17px;
}

.btn-sec {
	display: block;
	text-decoration: none;
	color: white;
	padding: 10px 15px;
	width: 120px;
	height: 40px;
	text-align: center;
	margin: 20px 0 0;
}

/* 7.Footer */
footer {
	width: 100%;
	background-color: #fdfff9;
	padding: 22px 0 16px;
}

.footer-bottom-right {
	display: none;
}

.dropdown {
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid rgba(218, 217, 217, 0.5);
}

.dropdown-content {
	display: none;
	font-size: 14px;
	line-height: 24px;
}

.dropdown-btn {
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 16px;
}

.dropdown-btn span {
	display: inline-block;
}

footer ul {
	text-decoration: none;
}

footer ul li a {
	font-size: 14px;
	line-height: 24px;
	dispaly: inline-block;
	text-decoration: none;
	color: black;
}

.footer-top div:not(.col-6) ul li {
	padding: 5px 0;
}

.footer-bottom-right ul li,
.col-6 ul li {
	float: left;
	margin-right: 10px;
}

.footer-bottom {
	padding-top: 14px;
	border-top: 1px solid rgba(218, 217, 217, 0.5);
}

/* 8.Miscelleneous */
/* Bold class*/
.bold {
	font-weight: bold;
}

/* Floats */
.left {
	float: left;
}
.right {
	float: right;
}

/* a.Floats and clearfix */
/* Clearing floats */
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

/* for tablet or screens with width of  768px and above*/
@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}

	/* b.Display hidden/displayed */
	nav,
	.login-btn,
	h2.msg-head-mobile {
		display: none;
	}

	/* 4.Banner */
	.banner {
		padding: 0px;
	}

	.banner-text {
		width: 40%;
		margin: 80px 0 88px;
	}

	.banner-img {
		width: 60%;
		margin: 48px 0 20px;
	}

	/* 5.Message from ED*/
	.msg-container {
		padding: 64px 0 50px;
	}
	h2.msg-head-desktop {
		display: block;
	}

	p.msg-content-head {
		margin: 16px 0 12px;
	}

	p.msg-content-bottom {
		margin-bottom: 20px;
	}

	.msg-content {
		width: 50%;
	}
	.img-ED {
		width: 40%;
	}

	.img-ED img {
		width: 100%;
	}

	/* 6.Upcomming trainings */

	h2.upcoming-training {
		text-align: center;
	}

	.wrapper-left {
		float: left;
	}

	.wrapper-right {
		float: right;
	}

	.wrapper-left,
	.wrapper-right {
		width: 100%;
	}

	.training-container {
		width: 49%;
	}

	/* 7.Footer */
	footer {
		padding: 40px 0 16px;
	}

	.col-1 {
		width: 33%;
	}

	.dropdown {
		width: 33%;
		border: none;
	}

	.dropdown-btn {
		font-weight: bold;
		font-size: 18px;
		line-height: 132.74%;
	}

	.dropdown-content {
		display: block;
	}

	footer ul li a {
		font-size: 14px;
		line-height: 146.29%;
		display: block;
	}

	span.right {
		display: none;
	}

	.footer-bottom {
		margin-top: 25px;
	}
}

/* for desktop or screens with width of 1200px and above*/
@media (min-width: 1200px) {
	body {
		font-size: 16px;
	}
	.container {
		max-width: 1140px;
	}

	/* b.Display hidden/displayed */
	nav,
	.login-btn {
		display: block;
	}

	.hamburger {
		display: none;
	}

	/* 4.Banner */
	.banner-text {
		width: 40%;
		margin: 171px 0;
	}

	.banner-img {
		width: 60%;
		margin-top: 45px 0 0;
	}

	h1.text-heading {
		font-size: 56px;
		line-height: 68px;
	}
	p.text-info {
		font-size: 18px;
		margin: 25px 0 60px;
		line-height: 140.62%;
	}

	.btn {
		font-size: 18px;
		line-height: 21px;
	}

	/* 5.Message */
	.msg-container {
		padding: 164px 0;
	}

	.msg-content {
		margin: 30px 0;
	}

	h2 {
		font-size: 32px;
		line-height: 42px;
	}

	p.msg-content-head {
		font-size: 18px;
		line-height: 25px;
		margin: 26px 0 13px;
	}

	p.msg-content-bottom {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 26;
	}
	.msg-content a {
		font-size: 16px;
		line-height: 140.62%;
	}

	/* 6.Upcomming training */
	.training {
		padding: 45px 0 80px;
	}
	.btn-sec {
		font-size: 14px;
		line-height: 16px;
		padding: 12px 15px;
	}

	.wrapper-left,
	.wrapper-right {
		width: 50%;
	}

	.wrapper-left {
		padding-right: 10px;
	}
	.wrapper-left {
		padding-left: 10px;
	}

	/* 7. Footer */
	.footer-top .col-6 {
		display: none;
	}
	.footer-bottom-right {
		display: block;
	}
	.dropdown {
		width: 20%;
	}
}

/* --bottom */
